@media screen and (max-width: 1210px) {
    body {
        font-size: 12px;
    }

    button, button:active, input[type="submit"], input[type="submit"]:active {
        font-size: 15px;
    }

    h2 {
        font-size: 25px;
    }

    .container {
        max-width: 1025px;
    }

    .direction-description {
        padding-top: 200px;
    }

    .main-section {
        padding-top: 140px;
    }

    .main-section h1 {
        width: 100%;
        font-size: 45px;
        line-height: 55px;
    }

    .description-content {
        padding: 0 15px;
    }

    .film-image img {
        width: 345px;
        height: 390px;
    }

    .film-title-content span {
        left: -73px;
        top: -71px;
        font-size: 100px;
    }

    .film-content {
        width: 345px;
        margin: 0;
    }

    .film-description-content p {
        line-height: 1.5;
        width: 100%;
        margin-left: 0;
    }

    .reverse-direction-description .film-content {
        margin-left: 80px;
    }

    .central-direction-description {
        padding-bottom: 262px;
    }

    .slides-wrapper .arrow-left {
        /* Attachment of arrow-left to the center of the screen
        from left side of arrow which makes it independent of
        the screen's size and transformed to place between
        films' images.*/
        left: 50%;
        transform: translate(-435px, -50%);
    }

    .slides-wrapper .arrow-right {
        /* Attachment of arrow-right to the center of the screen
        from right side of arrow which makes it independent of
        the screen's size and transformed to place between
        films' images.*/
        right: 50%;
        transform: translate(455px, -50%);
    }

    .slides-wrapper ul {
        /* Attachment of tag to the center of the screen
        from its left side which makes it independent of
        the screen's size and transformed to place so the second image
        exactly between arrows.*/
        left: 50%;
        transform: translateX(-1220px);
        width: 2470px;
    }

    .slides-wrapper ul li {
        padding: 0 60px;
    }

    .slides-wrapper ul li div {
        width: 700px;
        height: 425px;
    }

    .star-wars {
        background-position: left 0px bottom 0px, right 0px bottom -8px;
        background-size: 50% auto, 40% auto;
    }

    .runner {
        background-position: left -25px bottom 0px, right -25px bottom 0px;
        background-size: 50% auto, 50% auto;
    }

    .godfuther {
        background-position: left -5px bottom 0px, right -5px bottom 0px;
        background-size: 45% auto, 45% auto;
    }
}
