* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #fff;
    background: #000;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

a:hover {
    color: #00a3ff;
}

.container {
    max-width: 1220px;
    padding: 0 20px;
    margin: 0 auto;
}

.accent-text {
    color: #00a3ff;
}

header {
    width: 100%;
    padding: 25px 0;
    position: absolute;
    top: 0;
    left: 0;
}

header .container {
    display: flex;
    justify-content: space-between;
}

.logo {
    width: 104px;
    height: 47px;
    display: block;
    line-height: 47px;
}

.logo img {
    margin-top: 20px;
}

nav ul {
    margin-top: 22px;
}

nav li {
    display: inline-block;
    margin-left: 35px;
    text-transform: uppercase;
    font-size: 14px;
}

nav a {
    text-decoration: none;
    color: #fff;
}

nav a:hover {
    text-decoration: underline;
}

.main-section {
    padding: 140px 0 70px;
    background: url('../images/headphones.png') no-repeat top right;
    background-size: cover;
}

.main-section h1 {
    margin-bottom: 55px;
    font-size: 70px;
    text-transform: uppercase;
    width: 980px;
    line-height: 80px;
}

.main-section p {
    width: 480px;
    line-height: 24px;
    margin-bottom: 75px;
}

.arrow svg path {
    stroke: #00a3ff;
}

.film-image img {
    width: 480px;
    height: 545px;
    display: block;
}

button {
    text-transform: uppercase;
    background-color: transparent;
    border: 2px solid #00A3ff;
    color: #fff;
    padding: 18px 40px;
    font-size: 16px;
    transition: 0.3s;
    outline: none;
}

button:hover {
    cursor: pointer;
    background-color: #00A3ff;
    border-color: #fff;
}

.direction-description {
    padding-top: 237px;
}

.description-content {
    display: flex;
    justify-content: space-between;
}

.film-content {
    width: 480px;
    margin-left: 111px;
}

.film-title-content {
    position: relative;
}

.film-title-content span {
    font-weight: 500;
    font-size: 135px;
    color: #00A3ff;
    opacity: 0.5;
    position: absolute;
    z-index: 1;
    top: -90px;
    left: -95px;
}

.film-title-content h2 {
    position: relative;
    z-index: 2;
    font-size: 40px;
    margin: 0 0 42px 0;
}

.film-description-content {
    padding-left: 100px;
}

.film-description-content p {
    position: relative;
    margin: 0 0 55px 2px;
    width: 354px;
    line-height: 24px;
}

.film-description-content p::before {
    content: '';
    display: block;
    border: 1px solid;
    border-color: #00A3ff;
    box-sizing: border-box;
    width: 60px;
    position: absolute;
    top: 5px;
    left: -100px;
}

.reverse-direction-description .film-content {
    margin-left: 100px;
}

.central-direction-description {
    background: url('../images/jedirobot.png') no-repeat left -549px bottom 2px,
        url('../images/jedi.png') no-repeat right -143px bottom 7px;
    padding-bottom: 305px;
    padding-top: 258px;
}
.central-direction-description .description-content {
    display: flex;
    justify-content: space-around;
}

.slider {
    color: #000;
    background: url('../images/little_tree.jpg') no-repeat right -760px bottom 150px,
        url('../images/conference_room.jpg') no-repeat left -526px bottom 150px,
        #fff url('../images/dino_pet.jpg') no-repeat 50.5% 50%;
}

.slider .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 840px;
}

.btn-play::before {
    display: block;
    content: '';
    width: 0;
    height: 0;
    border-left: 29px solid #000;
    border-top: 13px solid transparent;
    border-bottom: 13px solid transparent;
    position: relative;
    top: 0;
    left: -10px;
    transition: 0.3s;
}

.btn-play {
    width: 85px;
    height: 85px;
    border-radius: 50%;
    background-color: #00A3ff;
    position: relative;
    top: 0;
    right: -2px;
}

.btn-play:hover::before  {
    border-left: 29px solid #fff;
    transition: 0.3s;
}
