* {
    box-sizing: border-box;
}

:root {
    --main-color: #00a3ff;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #fff;
    background: #000;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    transition: 0.3s;
}

a:hover {
    color: var(--main-color);
    text-decoration: underline;
}

.container {
    max-width: 1220px;
    padding: 0 20px;
    margin: 0 auto;
}

.accent-text {
    color: var(--main-color);
}

header {
    width: 100%;
    padding: 25px 0;
    position: absolute;
    top: 0;
    left: 0;
}

header .container {
    display: flex;
    justify-content: space-between;
}

h2 {
    text-transform: uppercase;
    font-size: 40px;
}

.logo {
    width: 104px;
    height: 47px;
    display: block;
    line-height: 47px;
}

.logo img {
    margin-top: 20px;
}

nav ul {
    margin-top: 22px;
}

nav li {
    display: inline-block;
    margin-left: 35px;
    text-transform: uppercase;
    font-size: 14px;
    position: relative;
}

nav .film-nav {
    position: absolute;
    left: 50%;
    margin: 0;
    top: 17px;
    transform: translateX(-50%);
    display: none;
}

nav li:hover ul {
    display: block;
}

nav .film-nav li {
    display: flex;
    flex-direction: column;
    width: 70px;
    height: 30px;
    text-align: center;
    margin: -1px auto 0;
    border: 1px solid #515151;
    background-color: #000;
    position: relative;
    z-index: 1;
    transition: 0.3s;
}

nav .film-nav li:hover {
    border-color: var(--main-color);
    z-index: 2;
}

nav .film-nav li a {
    display: inline-block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    line-height: 30px;
}

.main-section {
    padding: 140px 0 70px;
    background: url('../images/headphones.png') no-repeat top right;
    background-size: cover;
}

.main-section h1 {
    margin-bottom: 55px;
    font-size: 70px;
    text-transform: uppercase;
    width: 980px;
    line-height: 80px;
}

.main-section p {
    width: 480px;
    line-height: 24px;
    margin-bottom: 75px;
}

.arrow svg path {
    stroke: var(--main-color);
}

.film-image img {
    width: 480px;
    height: 545px;
    display: block;
}

button, input[type=submit] {
    text-transform: uppercase;
    background-color: transparent;
    border: 2px solid var(--main-color);
    color: #fff;
    padding: 18px 40px;
    font-size: 16px;
    transition: 0.3s;
    outline: none;
}

button:hover, input[type=submit]:hover {
    cursor: pointer;
    background-color: var(--main-color);
    border-color: #fff;
}

.direction-description {
    padding-top: 237px;
}

.description-content {
    display: flex;
    justify-content: space-between;
}

.film-content {
    width: 480px;
    margin-left: 111px;
}

.film-title-content {
    position: relative;
}

.film-title-content span {
    font-weight: 500;
    font-size: 135px;
    color: var(--main-color);
    opacity: 0.5;
    position: absolute;
    z-index: 1;
    top: -90px;
    left: -95px;
}

.film-title-content h2 {
    position: relative;
    z-index: 2;
    margin: 0 0 42px 0;
}

.film-description-content {
    padding-left: 100px;
}

.film-description-content p {
    position: relative;
    margin: 0 0 55px 2px;
    width: 354px;
    line-height: 24px;
}

.film-description-content p::before {
    content: '';
    display: block;
    border: 1px solid;
    border-color: var(--main-color);
    box-sizing: border-box;
    width: 60px;
    position: absolute;
    top: 5px;
    left: -100px;
}

.reverse-direction-description .film-content {
    margin-left: 100px;
}

.central-direction-description {
    padding-bottom: 305px;
    padding-top: 258px;
}
.central-direction-description .description-content {
    display: flex;
    justify-content: space-around;
}

.slider {
    background-color: #fff;
    overflow: hidden;
    padding: 150px 0 145px;
}

.slider .container {
    position: relative;
}

.slides-wrapper ul {
    position: relative;
    left: -951px;
    width: 3500px;
}

.slides-wrapper ul li {
    display: inline-block;
    padding: 0 75px;
}

.slides-wrapper ul li div {
    position: relative;
    width: 880px;
    Height: 540px;
}

.slides-wrapper ul li div img {
    width: 100%;
    height: 100%;
}

.btn-play::before {
    display: block;
    content: '';
    width: 0;
    height: 0;
    border-left: 29px solid #000;
    border-top: 13px solid transparent;
    border-bottom: 13px solid transparent;
    position: relative;
    top: 0;
    left: -10px;
    transition: 0.3s;
}

.btn-play {
    width: 85px;
    height: 85px;
    border-radius: 50%;
    background-color: var(--main-color);
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
}

.btn-play:hover::before  {
    border-left: 29px solid #fff;
    transition: 0.3s;
}

.slider a {
    text-decoration: none;
}

.slider .arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
}

.slider .arrow-left {
    left: 6%;
}

.slider .arrow-right {
    right: 6%;
}

.star-wars {
    background: url('../images/jedirobot2.png') no-repeat left -5px bottom -24px,
        url('../images/jedi2.png') no-repeat right -12px bottom -19px;
}

.runner {
    background: url('../images/bladerunner_woman.png') no-repeat left -5px bottom -19px,
        url('../images/bladerunner_man.png') no-repeat right -12px bottom -19px;
}

.godfuther {
    background: url('../images/boss.png') no-repeat left -5px bottom -19px,
        url('../images/gungster.png') no-repeat right -12px bottom -19px;
}

.sign-up {
    padding: 155px 0 85px;
}

.sign-up .appeal {
    width: 576px;
    margin: 0 auto;
}

.email-space {
    display: flex;
    justify-content: space-between;
    margin-top: 69px;
}

.email-space input {
    border: 2px solid var(--main-color);
    background-color: transparent;
    outline: none;
    color: #fff;
    border-radius: 0;
}

.email-space input:hover {
    border-color: #fff;
}

.email-space  input[type=text] {
    text-transform: uppercase;
    font-size: 16px;
    line-height: 19px;
    padding: 17px 15px;
    transition: 0.3s;
    width: 380px;
}

.email-space  input[type=submit] {
    padding: 15px 55px;
    line-height: 20px;
}

.email-space  input[type=submit]:hover {
    cursor: pointer;
}

.email-space ::placeholder {
    text-transform: uppercase;
    font-size: 16px;
    line-height: 19px;
    color: #515151;
    transition: 0.3s;
}

footer {
    padding: 54px 0;
}

footer li {
    display: inline-block;
}

footer .policy li {
    line-height: 75px;
    margin-right: 74px;
    margin-left: 2px;
}

footer circle {
    transition: 0.3s;
}

footer .social-media .circle {
    background-color: var(--main-color);
    border-radius: 50%;
    width: 53px;
    height: 53px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
}

footer .social-media .circle svg {
    height: 100%;
}

footer .social-media .circle:hover {
    background-color: #fff;
}

footer .social-media .circle path {
    transition: 0.3s;
    fill: #fff;
}

footer .social-media .circle:hover path {
    fill: var(--main-color);
}

footer .social-media li {
    margin-left: 29px;
    margin-right: 12px;
}

footer .container {
    display: flex;
    justify-content: space-between;
}
