* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #fff;
    background: #000;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

a:hover {
    color: #00a3ff;
}

.container {
    max-width: 1220px;
    padding: 0 20px;
    margin: 0 auto;
}

.accent-text {
    color: #00a3ff;
}

header {
    width: 100%;
    padding: 25px 0;
    position: absolute;
    top: 0;
    left: 0;
}

header .container {
    display: flex;
    justify-content: space-between;
}

.logo {
    width: 104px;
    height: 47px;
    display: block;
    line-height: 47px;
}

.logo img {
    margin-top: 20px;
}

nav ul {
    margin-top: 22px;
}

nav li {
    display: inline-block;
    margin-left: 35px;
    text-transform: uppercase;
    font-size: 14px;
}

nav a {
    text-decoration: none;
    color: #fff;
}

nav a:hover {
    text-decoration: underline;
}

.main-section {
    padding: 140px 0 80px;
    background: url('../images/headphones.png') no-repeat top right;
    background-size: cover;
}

.main-section h1 {
    margin-bottom: 55px;
    font-size: 70px;
    text-transform: uppercase;
    width: 980px;
}

.main-section p {
    width: 480px;
    line-height: 24px;
    margin-bottom: 75px;
}

.arrow-down svg path {
    stroke: #00a3ff;
}

/*стили фильмов*/

.film-image img {
    width: 480px;
    height: 545px;
}

/*Работа над ошибками*/
button {
    text-transform: uppercase;
    background-color: transparent;
    border: 2px solid #00A3ff;
    color: #fff;
    padding: 18px 40px;
    font-size: 16px;
}

button:hover {
    cursor: pointer;
    background-color: #00A3ff;
    color:#fff;
    border-color: #fff;
    transition: 0.3s;
}

.stright-direction-description {
    padding-top: 212px;
}

.reverse-direction-description {
    padding-top: 235px;
}

.flex-container {
    display: flex;
    justify-content: space-between;
}

.film-content {
    position: relative;
    width: 480px;
    margin-top: -25px;
}

.film-title-content span {
    font-weight: 500;
    font-size: 135px;
    color: #00A3ff;
    opacity: 0.5;
    position: absolute;
    z-index: 1;
    top: -67px;
    left: -87px;
}

.film-title-content h2 {
    position: relative;
    z-index: 2;
    font-size: 40px;
    margin: 24px 0px 42px 3px;
}

.film-description-content {
    padding-left: 100px;
}

.film-description-content p {
    position: relative;
    margin: 0 0 55px 2px;
    width: 354px;
    line-height: 24px;
}

.film-description-content p::before {
    content: '';
    display: block;
    border: 1px solid;
    border-color: #00A3ff;
    box-sizing: border-box;
    width: 60px;
    position: absolute;
    top: 5px;
    left: -100px;
}

.reverse-direction-description .film-content {
    padding-left: 100px;
}

.reverse-direction-description span {
    left: 3px;
}

.reverse-direction-description .film-description-content p {
    padding-right: 2px;
}
