@media screen and (max-width: 425px) {
    .container {
        max-width: 425px;
    }

    .main-section h1 {
        font-size: 25px;
        line-height: 35px;
        margin-bottom: 40px;
    }

    .main-section p {
        width: 100%;
        line-height: 20px;
    }

    .main-section svg {
        height: 30px;
    }

    .film-content {
        width: 233px;
    }

    .film-image img {
        width: 233px;
        height: 264px;
    }

    .film-title-content h2 {
        font-size: 25px;
    }

    .film-title-content span {
        font-size: 85px;
        top: -53px;
    }

    .central-direction-description {
        padding-bottom: 150px;
    }

    .slider {
        padding: 75px 0;
    }

    .slider .arrow-left {
        transform: translate(-149px, -50%);
    }

    .slider .arrow-right {
        transform: translate(146px, -50%);
    }

    .slider .arrow-left svg, .slider .arrow-right svg {
        width: 28px;
    }


    .slides-wrapper ul {
        transform: translateX(-404px);
        width: 810px;
    }

    .slides-wrapper ul li {
        padding: 0 16px;
    }

    .slides-wrapper ul li div {
        width: 235px;
        height: 140px;
    }

    .btn-play {
        width: 40px;
        height: 40px;
    }

    .btn-play::before {
        border-width: 5px 10px;
        border-right-width: 0;
    }

    footer .policy li {
        line-height: 40px;
    }

    .email-space input[type] {
        font-size: 14px;
    }

    .sign-up {
        padding-bottom: 45px;
    }

    .sign-up .appeal {
        width: 100%;
    }

    footer .social-media li {
        margin: 0 15px;
    }

    footer .policy {
        margin-top: 15px;
    }
}
