/* TODO: rename all files to use - as word separator */
@media screen and (min-width: 960px) and (max-width: 1210px) { /* TODO: don't set strict windows, many of the styles beyond can be used for smaller screens thus avoiding styles duplicates. Remove min width rule in all files */
    body {
        font-size: 12px;
    }

    button {
        font-size: 15px;
    }

    h2 {
        font-size: 25px;
    }

    .container {
        max-width: 1025px;
    }

    .direction-description {
        padding-top: 200px;
    }

    .main-section {
        padding: 140px 0 0;
    }

    .main-section h1 {
        width: 100%;
        font-size: 45px;
        line-height: 55px;
    }

    .description-content {
        padding: 0 15px;
    }

    .film-image img {
        width: 345px;
        height: auto; /* TODO: better to define aspect ratio and set height explicitly */
    }

    .film-title-content span {
        left: 50%;
        top: -71px;
        transform: translateX(-245px); /* TODO: why translate if you can use left? */
        font-size: 100px;
    }

    .film-content {
        width: 345px;
    }

    .film-description-content p {
        width: 100%; /* TODO: now your p element is out of its parent bounds. Why does it still have margin? */
    }

    .reverse-direction-description .film-content {
        margin-left: 80px;
    }

    .central-direction-description {
        padding-bottom: 262px;
    }

    .slides-wrapper .arrow-left { /* TODO: but why? original styles just have left 6%, why do you use 50% combined with translate? */
        left: 50%;
        transform: translate(-435px, -50%);
    }

    .slides-wrapper .arrow-right { /* TODO: the same as for left */
        right: 50%;
        transform: translate(455px, -50%);
    }

    .slides-wrapper ul { /* TODO: the same as for arrows */ /* TODO: li elements width reduced, but ul still has width from original styles. By the way, in original styles ul width is also too big */
        left: 50%;
        transform: translateX(-35%);
    }

    .slides-wrapper ul li {
        padding: 0 60px;
    }

    .slides-wrapper ul li div {
        width: 700px;
        height: 425px;
    }

    input[type=submit] { /* TODO: styles duplicate */
        font-size: 15px;
    }

    .star-wars {
        background-image: url('../images/jedirobot2.png'), url('../images/jedi2.png'); /* TODO: what about css styles inheritance? */
        background-repeat: no-repeat, no-repeat; /* TODO: what about css styles inheritance? */
        background-position: left 0px bottom 0px, right 0px bottom -8px;
        background-size: 50% auto, 40% auto;
    }

    .runner {
        background-image: url('../images/bladerunner_woman.png'), url('../images/bladerunner_man.png'); /* TODO: what about css styles inheritance? */
        background-repeat: no-repeat, no-repeat; /* TODO: what about css styles inheritance? */
        background-position: left -25px bottom 0px, right -25px bottom 0px;
        background-size: 50% auto, 50% auto;
    }

    .godfuther {
        background-image: url('../images/boss.png'), url('../images/gungster.png'); /* TODO: what about css styles inheritance? */
        background-repeat: no-repeat, no-repeat; /* TODO: what about css styles inheritance? */
        background-position: left -5px bottom 0px, right -5px bottom 0px;
        background-size: 45% auto, 45% auto;
    }
}
