@media screen and (max-width: 1210px) {
    body {
        font-size: 12px;
    }

    button, input[type=submit] {
        font-size: 15px;
    }

    h2 {
        font-size: 25px;
    }

    .container {
        max-width: 1025px;
    }

    .direction-description {
        padding-top: 200px;
    }

    .main-section {
        padding-top: 140px;
    }

    .main-section h1 {
        width: 100%;
        font-size: 45px;
        line-height: 55px;
    }

    .description-content {
        padding: 0 15px;
    }

    .film-image img {
        width: 345px;
        height: 390px;
    }

    .film-title-content span {
        left: -73px;
        top: -71px;
        font-size: 100px;
    }

    .film-content {
        width: 345px;
        margin: 0;
    }

    .film-description-content p { /* TODO: btw, line height is too big for this screen size. line-height can accept not only pixels and other metrics, but coeficient: you can use 1.5 as value, to be one and a half of font-size */
        /*corrected*/
        line-height: 1.5;
        width: 100%; /* TODO: 100% was ok, the problem was in margin */ /*corrected to 100%*/
        /* TODO: does it make sense to use generic property? */
        /*Corrected. If we apply only bottom rule,
        the rule from original file will be applied
        to the mockup*/
        margin: 0;
        margin-bottom: 55px;
    }

    .reverse-direction-description .film-content {
        margin-left: 80px;
    }

    .central-direction-description {
        padding-bottom: 262px;
    }

    .slides-wrapper .arrow-left { /* TODO: don't know why, but it works. However looks strange. Let it be. Better to leave a small comment to not forget what it is for */
        /*Attachment of arrow-left to specific place on screen*/
        left: 50%;
        transform: translate(-435px, -50%);
    }

    .slides-wrapper .arrow-right { /* TODO: don't know why, but it works. However looks strange. Let it be. Better to leave a small comment to not forget what it is for */
        /*Attachment of arrow-right to specific place on screen*/
        right: 50%;
        transform: translate(455px, -50%);
    }

    .slides-wrapper ul { /* TODO: don't know why, but it works. However looks strange. Let it be. Better to leave a small comment to not forget what it is for */
        /*Attachment of pictures to specific place on screen*/
        left: 50%;
        transform: translateX(-1220px);
        width: 2470px;
    }

    .slides-wrapper ul li {
        padding: 0 60px;
    }

    .slides-wrapper ul li div {
        width: 700px;
        height: 425px;
    }

    .star-wars {
        background-position: left 0px bottom 0px, right 0px bottom -8px;
        background-size: 50% auto, 40% auto;
    }

    .runner {
        background-position: left -25px bottom 0px, right -25px bottom 0px;
        background-size: 50% auto, 50% auto;
    }

    .godfuther {
        background-position: left -5px bottom 0px, right -5px bottom 0px;
        background-size: 45% auto, 45% auto;
    }
}
