@media screen and (max-width: 959px) {
    body {
        font-size: 14px;
    }

    button {
        font-size: 15px; /* TODO: this is style duplication I mentioned last time. Good example why sctrict media windows are not good */
        left: 50%; /* TODO: button position is static; if you wanted to align centraly the button, you should have used text-align on the parent */
        transform: translateX(50%);
    }

    .container {/* TODO: this is style duplication I mentioned last time. Good example why sctrict media windows are not good */
        max-width: 1025px;
    }

    .direction-description {
        padding-top: 125px;
    }

    .main-section {/* TODO: this is style duplication I mentioned last time. Good example why sctrict media windows are not good */
        padding: 140px 0 0; /* TODO: btw, do we need to use generic property? */
    }

    .main-section h1 {/* TODO: this is style duplication I mentioned last time. Good example why sctrict media windows are not good */
        width: 100%;
        font-size: 45px;
        line-height: 55px;
    }

    .description-content {/* TODO: this is style duplication I mentioned last time. Good example why sctrict media windows are not good */
        padding: 0 15px;
    }

    .film-content {
        margin: 0 auto;
    }

    .film-image img {
        width: 345px;/* TODO: this is style duplication I mentioned last time. Good example why sctrict media windows are not good */
        height: 391px;/* TODO: this is style duplication I mentioned last time. Good example why sctrict media windows are not good */
        margin: 0 auto 150px;
    }

    .film-title-content span {
        left: -5px;
        top: -63px;
    }

    .film-title-content h2 { /* TODO: tryin to achieve full accordance you use <br> in some h2. Seems like they are superfluous for tablets ans phones. How do you remove them? */
        text-align: center;
        font-size: 35px;
    }

    .film-description-content p {
        margin: 0 0 25px 2px; /* TODO: does it make sense to use generic property? */
        /* TODO: I can't get what these 2px change dramatically? :D */
    }

    .stright-direction-description .description-content { /* TODO: oh no, there is a typo in class name */
        flex-direction: column;
    }

    .reverse-direction-description .description-content {
        flex-direction: column-reverse;
    }

    .reverse-direction-description .film-content {
        margin: 0 auto;
    }

    .central-direction-description {/* TODO: this is style duplication I mentioned last time. Good example why sctrict media windows are not good */
        padding-bottom: 262px;
    }

    .slides-wrapper .arrow-left {
        left: 50%;/* TODO: this is style duplication I mentioned last time. Good example why sctrict media windows are not good */
        transform: translate(-362px, -50%);
    }

    .slides-wrapper .arrow-right {
        right: 50%;/* TODO: this is style duplication I mentioned last time. Good example why sctrict media windows are not good */
        transform: translate(357px, -50%);
    }

    .slides-wrapper ul {
        left: 50%;/* TODO: this is style duplication I mentioned last time. Good example why sctrict media windows are not good */
        transform: translateX(-988px);
        width: 1980px;
    }

    .slides-wrapper ul li {
        padding: 0 35px;
    }

    .slides-wrapper ul li div {
        width: 585px;
        height: 335px;
    }

    .btn-play {
        padding: 0;
        width: 70px;
        height: 70px;
        transform: translate(-50%, -50%);
    }

    .btn-play:before {
        left: 50%;
        transform:translateX(-35%);
        border-left: 20px solid #000; /* TODO: since changed only border width, better to use specific property. Do you know, that even border-left is generic? */
        border-top: 10px solid transparent; /* TODO: since changed only border width, better to use specific property. Do you know, that even border-top is generic? */
        border-bottom: 10px solid transparent; /* TODO: since changed only border width, better to use specific property. Do you know, that even border-bottom is generic? */
    }

    .btn-play:hover:before {
        border-left: 20px solid #fff; /* TODO: since changed only border width, better to use specific property. Do you know, that even border-left is generic? */
    }

    input[type=submit] {
        font-size: 15px;/* TODO: this is style duplication I mentioned last time. Good example why sctrict media windows are not good */
    }

    .star-wars {/* TODO: this is style duplication I mentioned last time. Good example why sctrict media windows are not good */
        background-position: left 0px bottom 0px, right 0px bottom -8px;
        background-size: 50% auto, 40% auto;
    }

    .runner {/* TODO: this is style duplication I mentioned last time. Good example why sctrict media windows are not good */
        background-position: left -25px bottom 0px, right -25px bottom 0px;
        background-size: 50% auto, 50% auto;
    }

    .godfuther {/* TODO: this is style duplication I mentioned last time. Good example why sctrict media windows are not good */
        background-position: left -5px bottom 0px, right -5px bottom 0px;
        background-size: 45% auto, 45% auto;
    }

    .sign-up .appeal {
        text-align: justify; /* TODO: cannot remember myself ever using this property. I think you cannot do the same either */
    }
}
