@media screen and (max-width: 959px) {
    body {
        font-size: 14px;
    }

    .direction-description {
        padding-top: 125px;
    }

    .film-content {
        margin: 0 auto;
    }

    .film-image img {
        margin: 0 auto 150px;
    }

    .film-title-content span {
        left: -5px;
        top: -63px;
    }

    .film-title-content h2 {
        text-align: center;
        font-size: 35px;
    }

    .film-description-content p {
        margin-bottom: 25px;
    }

    .straight-direction-description .description-content {
        flex-direction: column;
    }

    .reverse-direction-description .description-content {
        flex-direction: column-reverse;
    }

    .reverse-direction-description .film-content {
        margin: 0 auto;
    }

    .slides-wrapper .arrow-left {
        transform: translate(-362px, -50%);
    }

    .slides-wrapper .arrow-right {
        transform: translate(357px, -50%);
    }

    .slides-wrapper ul {
        transform: translateX(-988px);
        width: 1980px;
    }

    .slides-wrapper ul li {
        padding: 0 35px;
    }

    .slides-wrapper ul li div {
        width: 585px;
        height: 335px;
    }

    .btn-play {
        padding: 0;
        width: 70px;
        height: 70px;
    }

    .btn-play:before { /* TODO: pseudo-elements better to use with double colon :: */
        left: 50%;
        transform:translateX(-35%);
        border-width: 10px 20px;
        border-right-width: 0;
        border-color: transparent #000;
        border-style: solid;
    }

    .btn-play:hover:before {
        border-left-width: 20px;
    }
}
