@media screen and (min-width: 320px) and (max-width: 425px) {

    body {
        font-size: 14px;
    }

    h2 {
        font-size: 30px;
    }

    header .container {
        align-items: baseline;
    }

    nav {
        position: relative;
        z-index: 5;
        width: 25px;
        height: 25px;
        background-color: transparent;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        border: 1px solid #fff;
    }

    nav:hover > ul {
        display: block;
        top: 0;
    }

    nav ul li {
        border: 1px solid #515151;
        background-color: #000;
        margin: -1px auto 0;
        width: 175px;
        height: 30px;
        text-align: center;
        position: relative;
    }

    nav ul li:hover {
        border-color: var(--main-color);
        z-index: auto;
    }

    nav ul li:hover + li {
        border-top-color: var(--main-color);
    }

    nav ul li a {
        display: inline-block;
        width: 100%;
        height: 100%;
        line-height: 30px;
    }

    nav ul li a:hover {
        text-decoration: none;
        z-index: auto;
    }

    nav ul {
        margin: 0;
        right: 24px;
        position: absolute;
        display: none;
    }

    nav li {
        display: list-item;
        margin: 0;
    }

    nav li:hover ul {
        z-index: -1;
    }

    nav .film-nav {
        top: 0;
        left: -35px;
        width: 70px;
    }

    nav .film-nav li {
        margin: -1px 0 0;
    }

    nav span,
    nav span::before,
    nav span::after {
        position: absolute;
        display: block;
        width: 18px;
        height: 2px;
        background-color: var(--main-color);
        border-radius: 5px;
        transition: 0.3s;
    }

    nav span::before {
        content: '';
        top: -5px;
    }

    nav span::after {
        content: '';
        top: 5px;
    }

    nav:hover span {
        transform: rotate(45deg);
    }

    nav:hover span::before {
        top: 0;
        transform: rotate(0);
    }

    nav:hover span::after {
        top: 0;
        transform: rotate(90deg);
    }

    .container {
        max-width: 425px;
    }

    .main-section {
        background-position: left 0% top 0%;
        background-size: contain;
        padding: 85px 0 0;
    }

    .main-section h1 {
        width: 100%;
        font-size: 25px;
        line-height: 35px;
        margin-bottom: 40px;
    }

    .main-section p {
        width: 100%;
    }

    button {
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        font-size: 14px;
    }

    .direction-description {
        padding-top: 125px;
    }

    .film-content {
        margin: 0 auto;
        width: 100%;
    }

    .film-image img {
        margin: 0 auto 75px;
        width: 260px;
        height: auto;
    }

    .film-title-content {
        text-align: center;
    }

    .film-title-content span {
        transform: translateX(50%);
        font-size: 115px;
        top: -80px;
        left: -80px;
    }

    .film-description-content {
        padding: 0;
    }

    .film-description-content p {
        margin: 0 auto 25px;
        width: 100%;
    }

    .film-description-content p::before {
        top: -20px;
        left: 0;
    }

    .stright-direction-description .description-content {
        flex-direction: column;
    }

    .reverse-direction-description .description-content {
        flex-direction: column-reverse;
    }

    .reverse-direction-description .film-content {
        margin: 0 auto;
    }

    .central-direction-description {
        padding-bottom: 150px;
    }

    .star-wars {
        background-image: url('../images/jedirobot2.png'), url('../images/jedi2.png');
        background-repeat: no-repeat, no-repeat;
        background-position:  left 0px bottom 0px, right 0px bottom -7px;
        background-size: 50% auto, 50% auto;
    }

    .runner {
        background-image: url('../images/bladerunner_woman.png'), url('../images/bladerunner_man.png');
        background-repeat: no-repeat, no-repeat;
        background-position:  left 0px bottom 0px, right 0px bottom 0px;
        background-size: 50% auto, 50% auto;
    }

    .godfuther {
        background-image: url('../images/boss.png'), url('../images/gungster.png');
        background-repeat: no-repeat, no-repeat;
        background-position:  left 0px bottom 0px, right 0px bottom 0px;
        background-size: 50% auto, 50% auto;
    }

    .slider {
        padding: 75px 0;
    }

    .slider .arrow-left {
        left: 50%;
        transform: translate(-149px, -50%);
    }

    .slider .arrow-right {
        left: 50%;
        transform: translate(118px, -50%);
    }

    .slider .arrow-left svg {
        width: 28px;
    }

    .slider .arrow-right svg {
        width: 28px;
    }

    .slides-wrapper ul {
        left: 50%;
        transform: translateX(-405px);
    }

    .slides-wrapper ul li {
        padding: 0 16px;
    }

    .slides-wrapper ul li div {
        width: 235px;
        height: 140px;
    }

    .btn-play {
        transform: translate(-50%, -50%);
        padding: 0;
        width: 40px;
        height: 40px;
    }

    .btn-play::before {
        border-left: 10px solid #000;
        border-top: 5px solid transparent;
        border-bottom: 5px solid transparent;
        left: 50%;
        transform: translateX(-35%);
    }

    .btn-play:hover::before {
        border-left: 10px solid #fff;
    }

    footer .container {
        flex-direction: column-reverse;
        text-align: center;
    }

    footer .policy li {
        margin: 0 50px;
    }

    .email-space input[type=text] {
        font-size: 14px;
    }

    .email-space input[type=submit] {
        padding: 15px 57px;
        font-size: 14px;
    }

    .sign-up {
        padding-bottom: 45px;
    }

    .sign-up .appeal {
        width: 100%;
    }

    .email-space {
        flex-direction: column;
    }

    .email-space input[type=text] {
        width: 100%;
        margin-bottom: 15px;
    }

    footer .social-media li{
        margin: 0 15px;
    }

}