@media screen and (max-width: 767px) {
    body {
        font-size: 12px;
    }

    header .container {
        align-items: baseline;
    }

    nav {
        position: relative;
        z-index: 5;
        width: 25px;
        height: 25px;
        /* TODO: did not find what it does */
        /*While making the burger I put white background
        and then made it transparent, but it makes no
        impact on burger now. So, deleted :)*/
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }

    nav:hover > ul {
        display: block;
        top: 0;
    }

    nav ul li {
        border: 1px solid #515151;
        background-color: #000;
        margin: -1px auto; /* TODO: can be simplified I guess */
        /*corrected*/
        width: 175px;
        height: 30px;
        text-align: center;
        /* TODO: did not find what it does */
        /*deleted. It was decleared in the main file.
        It makes impact on the position of Top dropdown
        in the GoTo menu*/
    }

    nav ul li:hover {
        border-color: var(--main-color);
        /* TODO: did not find what it does */
        /*Was trying to  figure out how to change
        color of all borders on hover. It doesn't make
        any impact now. So, deleted :)*/
    }

    nav ul li:hover + li {
        border-top-color: var(--main-color);
    }

    nav ul li a {
        display: inline-block;
        width: 100%;
        height: 100%;
        line-height: 30px;
    }

    nav ul li a:hover {
        text-decoration: none;
        /* TODO: did not find what it does */
        /*Looks like mistakenly put it here while
        figuring out how to change borders color on
        hover. Deleted :)*/
    }

    nav ul {
        margin: 0;
        right: 24px;
        position: absolute;
        display: none;
    }


        /* TODO: did not find what it does */
        /*it was made to make original nav list to
        display as list. At the moment ul has absolute
        position, li has specific width 175px
        and nav has specific width 25px. These parameters
        give the needed result as display:list-item.
        So now it can be deleted.*/
        /* TODO: did not find what it does */
        /*deleted. it doesn't make amy impact as the
        rule <nav ul li> above covers this rule. */

    nav li:hover ul {
        z-index: -1;
    }

    nav .film-nav {
        top: 0;
        left: -35px;
        width: 70px;
    }

        /* TODO: did not find what it does */
        /*The main file has this rule.
        It is to adjust the position of li in
        dropdown GoTo menu. Now it can be removed :)*/

    nav span,
    nav span::before,
    nav span::after {
        position: absolute;
        /* TODO: did not find what it does */
        /*With the position:absolute it doesn't have
        any sense now. Without absolute position
        it shows before and after elements.*/
        width: 18px;
        height: 2px;
        background-color: var(--main-color);
        border-radius: 5px; /* TODO: did not find what it does */
        /*it makes the lines with rounded ends.
        It has barely seen effect on 100% scale,
        but on 500% scale it can be seen. But
        it can be removed as nobody is going to use
        500% scale :)*/
        transition: 0.3s;
    }

    nav span::before {
        content: '';
        top: -5px;
    }

    nav span::after {
        content: '';
        top: 5px;
    }

    nav:hover span {
        transform: rotate(45deg);
    }

    nav:hover span::before {
        top: 0;
        /* TODO: did not find what it does */
        /*deleted. It doesn't have any impact*/
    }

    nav:hover span::after {
        top: 0;
        transform: rotate(90deg);
    }

    .container {
        max-width: 640px;;
    }

    .main-section {
        /* TODO: did not find what it does */
        /*deleted. It doesn't have any impact*/
        background-size: contain;
        padding: 85px 0 0;
    }

    .main-section h1 {
        font-size: 35px;
        line-height: 45px;
    }

    .main-section p {
        width: 365px;
    }

    .main-section svg {
        height: 45px;
    }

    button, .email-space input[type] {
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        font-size: 14px;
    }

    .film-content {
        width: 340px;
    }

    .film-image img {
        width: 340px;
        height: 386px;
    }

    .film-title-content h2 {
        font-size: 30px;
    }

    .film-title-content span {
        /* TODO: why not just left? */
        /*deleted*/
        font-size: 100px;
        top: -67px;
        left: 2px;
    }

    .film-description-content {
        padding: 0;
    }

    .film-description-content p::before {
        top: -20px;
        left: 0;
    }

    .central-direction-description {
        padding: 190px 0 255px;
    }

    .slider .arrow-left {
        transform: translate(-190px, -50%);
    }

    .slider .arrow-right {
        transform: translate(205px, -50%);
    }

    .slider .arrow-left svg, .slider .arrow-right svg {
        width: 40px;
    }

    /* TODO: this rule is so alike a previous one */
    /*corrected*/

    .slides-wrapper ul {
        transform: translateX(-520px);
        width: 1060px;
    }

    .slides-wrapper ul li {
        padding: 0 25px;
    }

    .slides-wrapper ul li div {
        width: 300px;
        height: 170px;
    }

    .btn-play {
        transform: translate(-50%, -50%);
        width: 55px;
        height: 55px;
    }

    .btn-play::before {
        /* TODO: did not find what it does */
        /*deleted. The same rule is in tablet-Big file*/
        /* TODO: did not find what it does */
        /*deleted. The similar rule is in
        tablet-Big file. The big difference can't be
        seen.*/
        border-width: 7px 14px;
        border-right-width: 0;
    }

    .btn-play:hover::before {
        border-left-width: 14px; /* TODO: in your main css on button hover you can set only border color, not full property. Then you can remove all these rules in smaller screens, because there will no need to reasign width */
        /*corrected rule in the main file.
        But the width should be reasigned as the rule
        above changes the main width for btn-play::before*/
    }

    footer .container {
        flex-direction: column-reverse;
        text-align: center;
    }

    footer .policy {
        margin-top: 20px;
    }

    footer .policy li {
        margin: 0 50px;
        line-height: 55px;
    }

    .sign-up .appeal {
        width: 340px;
    }

    .email-space {
        flex-direction: column;
    }

    .email-space input[type="text"] {
        width: 100%;
        margin-bottom: 15px;
    }
}
