.central-direction-description {
    padding-bottom: 305px;
    padding-top: 258px;

    .description-content {
        display: flex;
        justify-content: space-around;
    }
}

.star-wars {
    background: url('images/jedirobot2.png') no-repeat left -5px bottom -24px,
        url('images/jedi2.png') no-repeat right -12px bottom -19px;
}

.runner {
    background: url('images/bladerunner_woman.png') no-repeat left -5px bottom -19px,
        url('images/bladerunner_man.png') no-repeat right -12px bottom -19px;
}

.godfuther {
    background: url('images/boss.png') no-repeat left -5px bottom -19px,
        url('images/gungster.png') no-repeat right -12px bottom -19px;
}

@media screen and (max-width: 1210px) {
    .central-direction-description {
        padding-bottom: 262px;
    }

    .star-wars {
        background-position: left 0px bottom 0px, right 0px bottom -8px;
        background-size: 50% auto, 40% auto;
    }

    .runner {
        background-position: left -25px bottom 0px, right -25px bottom 0px;
        background-size: 50% auto, 50% auto;
    }

    .godfuther {
        background-position: left -5px bottom 0px, right -5px bottom 0px;
        background-size: 45% auto, 45% auto;
    }
}

@media screen and (max-width: 767px) {
    .central-direction-description {
        padding: 190px 0 255px;
    }
}

@media screen and (max-width: 425px) {
    .central-direction-description {
        padding-bottom: 150px;
    }
}
