@import 'colors';

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #fff;
    background: #000;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    transition: 0.3s;

    &:hover {
        color: $main-color;
        text-decoration: underline;
    }
}

.container {
    max-width: 1220px;
    padding: 0 20px;
    margin: 0 auto;
}

.accent-text {
    color: $main-color;
}

button,
input[type="submit"] {
    border-radius: 0;
    text-transform: uppercase;
    background-color: transparent;
    border: 2px solid $main-color;
    color: #fff;
    padding: 18px 40px;
    font-size: 16px;
    transition: 0.3s;
    outline: none;

    &:hover {
        cursor: pointer;
        background-color: $main-color;
        border-color: #fff;
    }

    &:active {
        border-radius: 0;
        text-transform: uppercase;
        background-color: transparent;
        border: 2px solid $main-color;
        color: #fff;
        padding: 18px 40px;
        font-size: 16px;
        transition: 0.3s;
        outline: none;
    }
}

h2 {
    text-transform: uppercase;
    font-size: 40px;
}

.arrow svg path {
    stroke: $main-color;
}

@media screen and (max-width: 1210px) {
    body {
        font-size: 12px;
    }

    .container {
        max-width: 1025px;
    }

    h2 {
        font-size: 25px;
    }
}

@media screen and (max-width: 959px) {
    body {
        font-size: 14px;
    }
}

@media screen and (max-width: 767px) {
    body {
        font-size: 12px;
    }

    .container {
        max-width: 640px;
    }
}

@media screen and (max-width: 425px) {
    .container {
        max-width: 425px;
    }
}
