@import 'colors';

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #fff;
    background: #000;

    &.lock {
        overflow: hidden;
    }
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    transition: 0.3s;

    &:hover {
        color: $main-color;
        text-decoration: underline;
        cursor: pointer; // TODO: why do you need it?
    }
}

.container {
    max-width: 1220px;
    padding: 0 20px;
    margin: 0 auto;
}

.accent-text {
    color: $main-color;
}

button,
input[type="submit"] {
    border-radius: 0;
    text-transform: uppercase;
    background-color: transparent;
    border: 2px solid $main-color;
    color: #fff;
    padding: 18px 40px;
    font-size: 16px;
    transition: 0.3s;
    outline: none;

    &:hover {
        cursor: pointer;
        background-color: $main-color;
        border-color: #fff;
    }

    &:active {
        border-radius: 0;
        text-transform: uppercase;
        background-color: transparent;
        border: 2px solid $main-color;
        color: #fff;
        padding: 18px 40px;
        font-size: 16px;
        transition: 0.3s;
        outline: none;
    }
}

h2 {
    text-transform: uppercase;
    font-size: 40px;
}

.arrow svg path {
    stroke: $main-color;
}

.substrate {
    background-color: rgba(255, 255, 255, 0.15);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    z-index: 5;
    transition: 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;

    .soundtrack-listener {
        width: 70%;
        height: 350px;
        background-color: #000;
        border: 2px solid $main-color;
        text-align: center;
        position: relative;
        padding-top: 40px;

        .btn-play {
            position: static;
            transform: none;
            margin-top: 10px;
        }
    }

    .close-listener {
        width: 25px;
        height: 25px;
        position: absolute;
        top: -25px;
        right: -25px;


        &:hover {
            cursor: pointer;

            .close-listener-cross,
            .close-listener-cross::before {
                background-color: #fff;
            }
        }
    }

    .close-listener-cross,
    .close-listener-cross::before {
        width: 25px;
        height: 2px;
        background-color: $main-color;
        position: absolute;
        top: 11px;
        left: 0;
        transform: rotate(45deg);
        transition: 0.3s;
    }

    .close-listener-cross::before {
        content: '';
        top: 0;
        left: 0;
        transform: rotate(90deg);
    }
}

.listener-title {
    font-size: 35px;
    position: relative;
    margin-top: 35px;
}

.visually-hidden {
    opacity: 0;
}

.btn-play.play-active::before,
.btn-play.play-active:active::before {
    transform: translateX(-50%);
    width: 5px;
    height: 25px;;
    border-width: 0 5px;
    border-right: 5px solid #000;
}

.btn-play.play-active:hover::before {
    border-right-color: #fff;
}

.btn-play.play-active:hover:active::before {
    border-right-color: #000;
}

.media-length {
    width: 75%;
    border: 2px solid $main-color;
    margin: 25px auto 0;
    border-radius: 2px;
}

.current-length {
    width: 0;
    height: 8px;
    background-color: #fff;
}

.timer {
    margin-top: 20px;
    font-size: 16px;
}

.volume {
    border: 2px solid $main-color;
    margin: 0 auto;
    width: 100px;
    overflow: hidden;
    position: relative;
}

.volume-handle {
    height: 8px;
    background-color: rgba($main-color, 0.5);
    float: left;
}

.label {
    width: 10px;
    height: 8px;
    background-color: #fff;
    position: relative;
    left: 100%;
}

@media screen and (max-width: 1210px) {
    body {
        font-size: 12px;
    }

    .container {
        max-width: 1025px;
    }

    h2 {
        font-size: 25px;
    }
}

@media screen and (max-width: 959px) {
    body {
        font-size: 14px;
    }

    .timer {
        font-size: 14px;
    }
}

@media screen and (max-width: 767px) {
    body {
        font-size: 12px;
    }

    .container {
        max-width: 640px;
    }

    .listener-title  {
        font-size: 30px;
    }
}

@media screen and (max-width: 425px) {
    .container {
        max-width: 425px;
    }

    .listener-title {
        font-size: 25px;
    }

}
