@import 'colors';


* {
    box-sizing: border-box;
}

#togle-menu {
    position: absolute;
    display: none;
    margin: 0;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #fff;
    background: #000;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    transition: 0.3s;

    &:hover {
        color: $main-color;
        text-decoration: underline;
    }
}

.container {
    max-width: 1220px;
    padding: 0 20px;
    margin: 0 auto;
}

.logo {
    width: 104px;
    height: 47px;
    display: block;
    line-height: 47px;

    img {
        margin-top: 20px;
    }
}

nav {
    ul {
        margin-top: 22px;
    }

    li {
        display: inline-block;
        margin-left: 35px;
        text-transform: uppercase;
        font-size: 14px;
        position: relative;

        &:hover {
            ul {
                display: block;
            }
        }
    }

    .film-nav {
        position: absolute;
        left: 50%;
        margin: 0;
        top: 17px;
        transform: translateX(-50%);
        display: none;

        li {
            display: flex;
            flex-direction: column;
            width: 70px;
            height: 30px;
            text-align: center;
            margin: -1px auto 0;
            border: 1px solid #515151;
            background-color: #000;
            transition: 0.3s;

            a {
                display: inline-block;
                width: 100%;
                height: 100%;
                text-decoration: none;
                line-height: 30px;
            }

            &:hover {
                border-color: $main-color;
                z-index: 1;
            }
        }
    }
}

header {
    width: 100%;
    padding: 25px 0;
    position: absolute;
    top: 0;
    left: 0;

    .container {
        display: flex;
        justify-content: space-between;
    }
}

@media screen and (max-width: 1210px) {
    body {
        font-size: 12px;
    }

    .container {
        max-width: 1025px;
    }
}

@media screen and (max-width: 959px) {
    body {
        font-size: 14px;
    }
}

@media screen and (max-width: 767px) {
    body {
        font-size: 12px;
    }

    .container {
        max-width: 640px;
    }

    nav {
        position: relative;
        z-index: 5;
        width: 25px;
        height: 25px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;

        &:hover {
            span {
                transform: rotate(45deg);

                &::before {
                    top: 0;
                }

                &::after {
                    top: 0;
                    transform: rotate(90deg);
                }
            }

            > ul {
                display: block;
                top: 0;
            }
        }

        ul {
            margin: 0;
            right: 24px;
            position: absolute;
            display: none;

            li {
                border: 1px solid #515151;
                background-color: #000;
                margin: -1px auto 0;
                width: 175px;
                height: 30px;
                text-align: center;

                &:hover {
                    border-color: $main-color;

                    + li {
                        border-top-color: $main-color;
                    }

                    ul {
                        z-index: -1;
                    }
                }

                a {
                    display: inline-block;
                    width: 100%;
                    height: 100%;
                    line-height: 30px;

                    &:hover {
                        text-decoration: none;
                    }
                }
            }
        }

        .film-nav {
            top: 0;
            left: -35px;
            width: 70px;
        }

        span, & span::before, & span::after {
            position: absolute;
            width: 18px;
            height: 2px;
            background-color: $main-color;
            border-radius: 5px;
            transition: 0.3s;
        }

        span {
            &::before {
                content: '';
                top: -5px;
            }

            &::after {
                content: '';
                top: 5px;
            }
        }
    }

    header {
        .container {
            align-items: baseline;
        }
    }
}

@media screen and (max-width: 425px) {
    .container {
        max-width: 425px;
    }
}