@import 'colors';

.main-section {
    padding: 140px 0 70px;
    background: url('images/headphones.png') no-repeat top right;
    background-size: cover;

    h1 {
        margin-bottom: 55px;
        font-size: 70px;
        text-transform: uppercase;
        width: 980px;
        line-height: 80px;
    }

    p {
        width: 480px;
        line-height: 24px;
        margin-bottom: 75px;
    }
}

@media screen and (max-width: 1210px) {
    .main-section {
        padding-top: 140px;

        h1 {
            width: 100%;
            font-size: 45px;
            line-height: 55px;
        }
    }

    button,
    input[type="submit"] {
        font-size: 15px;

        &:active {
            font-size: 15px;
        }
    }
}

@media screen and (max-width: 767px) {
    .main-section {
        background-size: contain;
        padding: 85px 0 0;

        h1 {
            font-size: 35px;
            line-height: 45px;
        }

        p {
            width: 365px;
        }

        svg {
            height: 45px;
        }
    }

    button,
    .email-space input[type] {
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        font-size: 14px;
    }

    button,
    .email-space input[type="submit"] {
        &:active {
            position: relative;
            left: 50%;
            transform: translateX(-50%);
            font-size: 14px;
        }
    }
}

@media screen and (max-width: 425px) {
    .main-section {
        h1 {
            font-size: 25px;
            line-height: 35px;
            margin-bottom: 40px;
        }

        p {
            width: 100%;
            line-height: 20px;
        }

        svg {
            height: 30px;
        }
    }
}
