.reverse-direction-description {
    .film-content {// TODO: can be but doesn't make sense. Usualy nesting used when both parent and child selectors have styles
        margin-left: 100px;
    }
}

@media screen and (max-width: 1210px) {
    .reverse-direction-description {
        .film-content {// TODO: can be but doesn't make sense. Usualy nesting used when both parent and child selectors have styles
            margin-left: 80px;
        }
    }
}

@media screen and (max-width: 959px) {
    .reverse-direction-description {
        .film-content {
            margin: 0 auto;
        }

        .description-content {
            flex-direction: column-reverse;
        }
    }
}
