@import 'colors';

.slider {
    background-color: #fff;
    overflow: hidden;
    padding: 150px 0 145px;

    .container {
        position: relative;
    }

    a {
        text-decoration: none;
    }

    .arrow {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        z-index: 2;
    }

    .arrow-left {
        left: 6%;
    }

    .arrow-right {
        right: 6%;
    }
}

.slides-wrapper {
    ul {
        position: relative;
        margin: 0 auto;
        width: 1030px;
        display: flex;
        transition: 1s;

        li {
            display: inline-block;
            padding: 0 75px;
            transition: 1s;
        }
    }

    img {
        width: 100%;
        height: 100%;
    }

    .video-wrapper {
        display: none;
    }
}

.frame {
    position: relative;
    width: 880px;
    height: 540px;

    &:hover {
        .video-controls {
            opacity: 1;
        }

        .playing-video.play-active {
            opacity: 1;
        }
    }
}

.playing-video.play-active {
    opacity: 0;
}

.video-controls {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: 0.3s;
    padding-top: 75px;
    width: 100%;
    height: 100%;
}

.video-volume-handle::after {
    transform: translateX(10px);
}

.music-length.video-length {
    bottom: 75px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.btn-play,
.btn-play:active {
    width: 85px;
    height: 85px;
    border-radius: 50%;
    background-color: $main-color;
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);

    &:hover::before {
        border-left-color: #fff;
        transition: 0.3s;
    }


    &::before {
        display: block;
        content: '';
        width: 0;
        height: 0;
        border-left: 29px solid #000;
        border-top: 13px solid transparent;
        border-bottom: 13px solid transparent;
        position: relative;
        top: 0;
        left: 50%;
        transform: translateX(-35%);
        transition: 0.3s;
    }
}

.slider .pusher {
    margin-left: 0;
}

.btn-play:hover:active::before {
    border-left-color: #000;
}

video {
    width: 100%;
    height: 100%;
    position: absolute;
}

@media screen and (max-width: 1210px) {
    .slider {
        .arrow-left {
            /* Attachment of arrow-left to the center of the screen
            from left side of arrow which makes it independent of
            the screen's size and transformed to place between
            films' images.*/
            left: 50%;
            transform: translate(-435px, -50%);
        }

        .arrow-right {
            /* Attachment of arrow-right to the center of the screen
            from right side of arrow which makes it independent of
            the screen's size and transformed to place between
            films' images.*/
            right: 50%;
            transform: translate(435px, -50%);
        }
    }

    .slides-wrapper ul {
        width: 820px;

        li {
            padding: 0 60px;
        }
    }

    .frame {
        width: 700px;
        height: 425px;
    }
}

@media screen and (max-width: 959px) {
    .slider {
        .arrow-left {
            transform: translate(-357px, -50%);
        }

        .arrow-right {
            transform: translate(357px, -50%);
        }
    }

    .slides-wrapper ul {
        width: 655px;

        li {
            padding: 0 35px;
        }
    }

    .frame {
        width: 585px;
        height: 335px;
    }

    .btn-play,
    .btn-play:active {
        padding: 0;
        width: 70px;
        height: 70px;

        &::before {
            border-width: 10px 20px;
            border-right-width: 0;
            border-color: transparent #000;
            border-style: solid;
        }
    }
}

@media screen and (max-width: 767px) {
    .slider {
        .arrow-left {
            transform: translate(-197px, -50%);
        }

        .arrow-right {
            transform: translate(197px, -50%);
        }

        svg {
            width: 40px;
        }
    }

    .slides-wrapper ul {
        width: 350px;

        li {
            padding: 0 25px;
        }
    }

    .frame {
        width: 300px;
        height: 170px;
    }

    .btn-play,
    .btn-play:active {
        transform: translate(-50%, -50%);
        width: 55px;
        height: 55px;

        &::before {
            border-width: 7px 14px;
            border-right-width: 0;
        }
    }
}

@media screen and (max-width: 425px) {
    .slider {
        padding: 75px 0;

        .arrow-left {
            transform: translate(-148px, -50%);
        }

        .arrow-right {
            transform: translate(148px, -50%);
        }

        svg {
            width: 28px;
        }
    }

    .slides-wrapper ul {
        width: 267px;

        li {
            padding: 0 16px;
        }
    }

    .frame {
        width: 235px;
        height: 140px;
    }


    .btn-play,
    .btn-play:active {
        width: 40px;
        height: 40px;

        &::before {
            border-width: 5px 10px;
            border-right-width: 0;
        }
    }
}
