@import 'colors';

.direction-description {
    padding-top: 237px;
}

.description-content {
    display: flex;
    justify-content: space-between;
}

.film-image img {
    width: 480px;
    height: 545px;
    display: block;
}


.film-content {
    width: 480px;
    margin-left: 111px;
}

.film-title-content {
    position: relative;

    span {
        font-weight: 500;
        font-size: 135px;
        color: $main-color;
        opacity: 0.5;
        position: absolute;
        z-index: 1;
        top: -90px;
        left: -95px;
    }

    h2 {
        position: relative;
        z-index: 2;
        margin: 0 0 42px 0;
    }
}

.film-description-content {
    padding-left: 100px;

    p {
        position: relative;
        margin: 0 0 55px 2px;
        width: 354px;
        line-height: 24px;

        &::before {
            content: '';
            display: block;
            border: 1px solid;
            border-color: $main-color;
            box-sizing: border-box;
            width: 60px;
            position: absolute;
            top: 5px;
            left: -100px;
        }
    }
}

@media screen and (max-width: 1210px) {
    .direction-description {
        padding-top: 200px;
    }

    .description-content {
        padding: 0 15px;
    }

    .film-image img {
        width: 345px;
        height: 390px;
    }


    .film-content {
        width: 345px;
        margin: 0;
    }

    .film-title-content span {
        left: -73px;
        top: -71px;
        font-size: 100px;
    }


    .film-description-content p {
        line-height: 1.5;
        width: 100%;
        margin-left: 0;
    }
}

@media screen and (max-width: 959px) {
    .direction-description {
        padding-top: 125px;
    }

    .description-content {
        flex-direction: column;
    }

    .film-image img {
        margin: 0 auto 150px;
    }


    .film-content {
        margin: 0 auto;
    }

    .film-title-content {
        span {
            left: -5px;
            top: -63px;
        }

        h2 {
            text-align: center;
            font-size: 35px;
        }
    }

    .film-description-content p {
        margin-bottom: 25px;
    }

}

@media screen and (max-width: 767px) {
    .film-image img {
        width: 340px;
        height: 386px;
    }

    .film-content {
        width: 340px;
    }

    .film-title-content {
        span {
            font-size: 100px;
            top: -67px;
            left: 2px;
        }

        h2 {
            font-size: 30px;
        }
    }

    .film-description-content {
        padding: 0;

        p::before {
            top: -20px;
            left: 0;
        }

    }
}

@media screen and (max-width: 425px) {
    .film-image img {
        width: 233px;
        height: 264px;
    }

    .film-content {
        width: 233px;
    }

    .film-title-content {
        span {
            font-size: 85px;
            top: -53px;
        }

        h2 {
            font-size: 25px;
        }
    }
}
